@model MVC_CV.Models.Entity.TBL_Skills

@{
    ViewBag.Title = "NewSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post">
    @Html.Label("Yetenek Açıklaması")
    @Html.TextBoxFor(x=>x.Skill, new {@class="form-control"})
    <br />
    @Html.Label("Derece")
    @Html.TextBoxFor(x => x.SkillValue, new {@class="form-control"})
    <br />
    <button class="btn btn-info">Ekle</button>
</form>

